<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<br><br>
			<h3>Search Active Rooms</h3>
			<input type="text" id="search_rooms" class='light_text' style="width:200px;"><%= image_tag "loading.gif", :id => "loading_rooms", :style => "position:relative; top:5px; display:none;" %><br><br>
			<div id="rooms_list">
				<%= render "rooms_list" %>
			</div>
			<br><br>
			<%= link_to 'New Room', new_room_path %>
		</div>
	</div>
</div>